<style>
    body {
      background-color: #047aed;
    }
  
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
  
    .login-box2 {
      background-color: #292929;
      padding: 60px;
      border-radius: 40px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .login-box {
      background-color: #3b3b3b;
      padding: 60px;
      border-radius: 30px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  
    .login-title {
      text-align: center;
      color: #c6c6c6;
    }
  
    .login-form {
      margin-top: 20px;
    }
  
    .login-input {
      background-color: #252525;
      border: none;
      padding: 10px 20px 10px 20px;
      margin-bottom: 10px;
    }
  
    .login-submit {
      background-color: #1f1f1f;
      color: #d0d0d0;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 10px;
    }
  
    .login-google {
      background-color: #ffffff;
      color: #047aed;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      margin-top: 10px;
    }
  
    .register-button {
      display: block;
      margin-top: 10px;
      color: #ffffff;
    }
  </style>
  
  <div class="container">
   <div class="login-box2">
    <div class="login-box">
      <h2 class="login-title">Login de usuario</h2>
  
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="login-form">
        <div class="mb-3">
          <!-- <label class="form-label">Email</label> -->
          <ion-input label="Email" placeholder="Enter text" label-placement="floating" type="text" class="login-input" formControlName="email"></ion-input>
        </div>
        <br />
        <div class="mb-3">
          <!-- <label class="form-label">Password</label> -->
          <ion-input  label="Password" placeholder="Enter text" label-placement="floating" type="password" class="login-input" formControlName="password"></ion-input>
        </div>
  
        <input type="submit" value="Login" class="login-submit">
      </form>
  
      <button class="login-google" (click)="onClick()">Login With Google</button>

      <div>¿Aún no eres usuario?</div>
  
      <ion-button class="register-button" (click)="toRegister()">Register</ion-button>
    </div>
  </div>
  </div>
  